@font-face {
    font-family: "Monstserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Monstserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Monstserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Monstserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}