*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Monstserrat;
}

header{
    background-color: rgb(188, 188, 219);
}

/* Top Bar Styles */
.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    margin-bottom: 25px;
}

.social-media img{
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.top-bar p{
    color: white;
    font-size: 14px;
}

.social-media img:hover{
    transform: scale(1.1);
}

/* Navegation */

nav{
    padding:0px 40px 0px 0px ;
}

ul{
    display: flex;
    list-style: none;
    padding: 35px 5px;
    gap: 20px;
    justify-content: right;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 500;
}

a:hover{
    color: #2daed1; 
}

/* Hero */
.hero{
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)),
    url("../img/hero_image.jpg") no-repeat center center/cover;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 40px;
    color: white;
}


/* About Us */
.about-us{
    display: flex;
    margin: 5vh auto;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}

.text-about-us{
    padding: 40px 10px;
    line-height: 24px;
}

.text-about-us p{
    color: #333;
}

.text-about-us h3{
    color: #36393e;
    padding-bottom: 10px;
}

.about-us-information{
    max-width: 700px;
    border-top: #33333342 3px solid;
    padding-top: 20px;
}

/* Groups */

.type-groups {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    background-color: #f6f8fa;
}

.type-groups-info{
    max-width: 400px;
    padding: 60px 0px;
    line-height: 24px;
    text-align: center;
}

.type-groups-info h2{
    padding-bottom: 10px;
}

.type-groups-info h2 span{
    font-weight: 100;
    color: #333;
}

/* Employees */
.employees{
    display: flex;
    width: 100%;
}

.employees img {
  flex: 1;
  height: 32em;
  object-fit: cover;
  display: block; /* Elimina espacios inferiores */
  margin: 0;
  padding: 0;
  filter: grayscale(100%);
}

/* CTA */
.cta{
    display: flex;
    background: url("../img/pre-footer.jpg") no-repeat left center/cover;
    height: 32em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-info{
    text-align: center;
    max-width: 35em;
}


.cta h2{
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 20px;
}

.cta p{
    padding-bottom: 20px;
}

.cta button{
    background-color: #2daed1;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta button:hover{
    background-color: rgb(221, 221, 221);
    color: #2daed1;
}

/* Pre-footer */
.pre-footer{
    display: flex;
    background-color: #22242a;
    color: white;
    padding: 40px 30px;
}

.pre-footer-info span{
    color: #5a5a5a;
}